@model ToDoList.Models.ToDo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"><img style="width:20px" src="~/icones/pencil.svg" alt="Editar" /></a> |
    <a asp-action="Index"><img style="width:25px; margin-left:1px" src="~/icones/list.svg" alt="Listagem" />Voltar para a listagem</a>
</div>
