@model IEnumerable<ToDoList.Models.ToDo>

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
              asp-fallback-href="~/lib/datatables/css/jquery.dataTables.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="postion"
              asp-fallback-test-value="absolute" />
    </environment>
}

<h1 class="h1">Lista de tarefas</h1>

<table class="table" id="tabela-lista-tarefas">
    <thead>
        <tr>
            <th><a asp-action="Create"><img style="width:20px; text-align: center" src="~/icones/plus.svg" alt="Criar novo" /></a></th>
            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:20px"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID"><img style="width:20px" src="~/icones/pencil.svg" alt="Editar" /></a> |
                    <a asp-action="Details" asp-route-id="@item.ID"><img style="width:20px" src="~/icones/magnifying_glass.svg" alt="Detalhes" /></a> |
                    <a asp-action="Delete" asp-route-id="@item.ID"><img style="width:23px" src="~/icones/trash_can.svg" alt="Alternate Text" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <environment include="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
                asp-fallback-src="~/lib/datatables/js/jquery.dataTables.min.js">
        </script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela-lista-tarefas').DataTable();
        });
    </script>
}